<configuration>
  <appender name="logback.springAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender" />

  <turboFilter class="ch.qos.logback.classic.turbo.DynamicThresholdFilter">
    <Key>thresholdFilter</Key>
    <DefaultThreshold>${installApex.logLevel:-OFF}</DefaultThreshold>
   </turboFilter>
  
  <root level="ALL">
  	<appender-ref ref="logback.springAppender" />
  </root>
</configuration>