SET LINESIZE 100
WHENEVER SQLERROR EXIT SQL.SQLCODE ROLLBACK

PROMPT connecting to Database User ${sqlPlusConnectWithoutPassword} ...
CONNECT ${sqlPlusConnect}
PROMPT connected

SET SERVEROUTPUT ON SIZE UNLIMITED FORMAT WRAPPED
QUIT